*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box:
  box-sizing: border-box;
}

.contenedor{
  width: 1200px;
  margin: 0 auto;
}

.header .top-header{
  padding: 6px 0;
  font-size: 12px;
  border-bottom: 1px solid #4EE0AD;
  background: #fafafa;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-menu a{
  text-decoration: none;
  color: #363940;
  padding: 10px 15px;
  display: inline-block;
}

.top-redes a{
  box-shadow: inset 0 0 blue;
  transition: box-shadow .5s;
}

.top-redes a:hover{
  box-shadow: inset 0 50px blue;
}

.top-redes a{
  text-decoration: none;
  color: #363940;
  padding: 10px 15px;
  display: inline-block;
}

.top-redes a:hover{
  color: #94D9C0;
}

.titulo-blog{
  text-align: center;
  font-style: oblique;
  font-family: 'Verdana';
  color:#EFC378;
      }

.titulo-blog .contenedor h1 a{
  text-decoration: none;
  color: #0C4732;
  font-size: 60px;
  display: inline-block;
  padding: 30px 0;
  font-weight: 300;
}

.titulo-blog .contenedor h1 a:hover{
color: #A4C6BA;
}

.titulo-blog .contenedor .subtitulo{
  font-size: 16px;
  letter-spacing: 1px;
  color: #B1CFC4;
}

.menu-principal{
  margin-bottom: 40px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  padding: 10px 0;
}

.menu-principal .contenedor ul{
  list-style: none;
  display: inline-block;
  margin: 0 auto;

}

.menu-principal .contenedor ul li{
  display: inline-block;
}

.menu-principal .contenedor ul li a{
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #363940;
}

.menu-principal .contenedor ul li a:hover{
  color: #94D9C0;
}

.main .banner{
  padding-bottom: 15px
  border-bottom: 1px solid #f0f0f0;
}

.main .banner .contenedor .banner-principal{
  width: 100%;
}

.main .banner .contenedor .banner-principal img{
  width: 20vw;
  height: 20vw;
}

p{
  color: red;
}
